.LabelledInput {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: calc(var(--grid-size) * 1);
}

.LabelledInput .Label {
  margin-top: calc(var(--grid-size) * 0.5 + 2px);
  text-transform: uppercase;
  font-size: var(--txt-size-small);
}
