.WorkflowBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: calc(var(--grid-size) * 2);
}

.Loading,
.NoData {
  text-transform: uppercase;
  font-size: var(--txt-size-large);
  padding: calc(var(--grid-size) * 2);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, transparent, var(--clr-line-hard), transparent) 1;
  background-image: linear-gradient(to right, transparent, var(--clr-panel), transparent);
}
