.ConnectionDisplay {
  position: relative;
  width: 96px;
}

.ConnectionDisplay .Canvas {
  position: absolute;
  left: calc(var(--grid-size) * -2);
}

.ConnectionDisplay button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
